<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div *ngFor="let city of cities" class="col">
        <div class="card shadow-sm">
          <img class="card-img-top" src="{{city.photoUrl}}" style="height: 225px;" alt="Card image cap">

          <div class="card-body">
            <p class="card-text">
              {{city.name}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/cityDetail/{{city.id}}">View</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
              </div>
              <small class="text-muted">{{city.name}}</small>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>